---
apiVersion: v1
kind: ConfigMap
metadata:
  name: routeros-version-checker-scripts
  namespace: default
data:
  check_routeros_version.py: |
{{ .Files.Get "scripts/check_routeros_version.py" | indent 4 }}
  
  requirements.txt: |
{{ .Files.Get "requirements.txt" | indent 4 }}
